.SideNav{
    width: 0px;
    margin-bottom: 0px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 9999;
    
};

.closeSideNav .nav{
    width: 0px;
}

.openSideNav{
    width: 250px;

}