/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MainJumbotron{
  /* background-image:url('./Images/Mountain.mp4'); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  min-height: calc(100% - 76px);
  min-height: calc(100vh - 76px);

}
.vidJumbotron{
  max-width: 100%;
  height: auto;
}

.bodyOpaque{
  opacity: 0.5;
}

.bodyNotOpaque{
  opacity: 1;
}
